.game-area {
  position: relative;
  margin: 50px auto;
  width: 350px;
  height: 350px;
  border: 2px solid black;
  background-color: slateblue;
}
.snake-dot {
position: absolute;
width: 2%;
height: 2%;
background-color: black;
border: 1px solid white;
z-index: 2;

}
.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: red;
  border: 1px solid #fff;
  z-index: 1;
}
